<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}} news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}} news</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="efeitoRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor = "let news of lista_news" href={{news.url}}>
    <ion-card-header>
      <ion-img src={{news.urlToImage}}></ion-img>
      <br>
      <ion-card-subtitle>{{news.publishedAt}}</ion-card-subtitle>
      <ion-card-title>{{news.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{news.description}}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="efeitoScrollInfinito($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Carregando mais notícias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>