<ion-header>
  <ion-toolbar>
    <ion-title>Entrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <form>
    <ion-item lines="full">
      <ion-label position="fixed">Email</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
  
    <ion-item lines="full">
      <ion-label position="fixed">Senha</ion-label>
      <ion-input name="senha" [type]="type" [(ngModel)]="senha" required></ion-input>
      <ion-icon (click)="showSenha()" slot="end" name="eye" [color]="colorActive"></ion-icon>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="secondary" type="submit" (click)="logaUser()">Entrar</ion-button>
      </ion-col>
    </ion-row>

    <p style="text-align: center;">Não possui cadastro? <a (click)="this.router.navigate(['insert-user']);">Cadastre-se</a></p>
    
    <!--<ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button (click)="this.router.navigate(['insert-user']);">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
  </form>
</ion-content>
